<div class="container mt-4">
  <h2 class="mb-4">Cargar Autor</h2>

  <form (ngSubmit)="onSubmit()">
    
    <div class="mb-3">
      <label for="autNombre" class="form-label">Nombre</label>
      <input type="text" id="autNombre" class="form-control" [(ngModel)]="autor.autNombre" name="autNombre" required>
    </div>

    <div class="mb-3">
      <label for="autApellido" class="form-label">Apellido</label>
      <input type="text" id="autApellido" class="form-control" [(ngModel)]="autor.autApellido" name="autApellido" required>
    </div>

    <div class="mb-3">
      <label for="fechaNac" class="form-label">Fecha de Nacimiento</label>
      <input type="date" class="form-control" id="fechaNac" [(ngModel)]="autor.autFechaNac" name="autFechaNac">
    </div>

    <div class="mb-3">
      <label for="fechaDes" class="form-label">Fecha de Fallecimiento</label>
      <input type="date" class="form-control" id="fechaDes" [(ngModel)]="autor.autFechaDes" name="autFechaDes">
    </div>

    <div class="mb-3">
      <label for="autBio" class="form-label">Biografía</label>
      <textarea id="autBio" class="form-control" rows="4" [(ngModel)]="autor.autBiografia" name="autBio"></textarea>
    </div>

    <button type="submit" class="btn btn-success">
      <i class="fa-solid fa-floppy-disk me-1"></i> Guardar Autor
    </button>
    
  </form>
</div>
