<div class="container mt-3">
    <h2>Cargar Autor</h2>
    <div class="input">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="autNombre">Nombre</label>
          <input type="text" id="autNombre" [(ngModel)]="autor.autNombre" name="autNombre" required />
        </div>
  
        <div class="form-group">
          <label for="autApellido">Apellido</label>
          <input type="text" id="autApellido" [(ngModel)]="autor.autApellido" name="autApellido" required />
        </div>
  
        <div class="form-group">
          <label for="autFecNac">Fecha de Nacimiento</label>
          <input type="date" id="autFecNac" [(ngModel)]="autor.autFecNac" name="autFecNac" required />
        </div>
  
        <div class="form-group">
          <label for="autBio">Biografía</label>
          <textarea id="autBio" [(ngModel)]="autor.autBiografia" name="autBio"></textarea>
        </div>
  
        <div class="form-group">
          <label for="autFecDes">Fecha de Defunción</label>
          <input type="date" id="autFecDes" [(ngModel)]="autor.autFecDes" name="autFecDes" />
        </div>
  
        <button type="submit">Guardar Autor</button>
      </form>
    </div>
  </div>
  