<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Menú
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/dash-prof">Profesores</a></li>
            <li><a class="dropdown-item" routerLink="/dash-estudiantes">estudiantes</a></li>
            <li><a class="dropdown-item" routerLink="/editoriales-listar">Editoriales</a></li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
