.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; /* color blanco para los enlaces */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #007bff; /* color azul para el hover */
}

.navbar-toggler {
  border-color: #ffffff; /* color del borde del botón */
}

.navbar-toggler-icon {
  background-color: #ffffff; /* color del icono de hamburguesa */
}
