<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg border-0" style="width: 400px;">
    <div class="card-body">
      <h3 class="text-center text-primary mb-4">Iniciar Sesión</h3>

      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="Dni" class="form-label">Dni</label>
          <input
            type="Dni"
            id="Dni"
            class="form-control"
            [(ngModel)]="Dni"
            name="Dni"
            placeholder="44444444"
            required
          />
        </div>

        <div class="mb-3">
          <label for="contrasena" class="form-label">Contraseña</label>
          <input
            type="password"
            id="contrasena"
            class="form-control"
            [(ngModel)]="contrasena"
            name="contrasena"
            placeholder="••••••••"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary w-100">Entrar</button>

        <p *ngIf="error" class="text-danger mt-3 text-center">{{ error }}</p>
      </form>

      <hr />

      <div class="text-center">
        <button class="btn btn-outline-secondary btn-sm" routerLink="/registro">
          Registrarme
        </button>
      </div>
    </div>
  </div>
</div>
