

<table class="table">
    <thead>
      <tr>
        <th scope="col">titulo</th>
        <th scope="col">año</th>
        <th scope="col">contenido</th>
        <th scope="col">editorial</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libros">
        
            <tr *ngFor="let libro of libros">

                <td>{{libro.libTitulo}}</td>
                <td>{{libro.libAnio}}</td>
                <td>{{libro.autorID}}</td>
                <td>{{libro.editorialID}}</td>
                
            </tr> 
        
     
    
    </tbody>
  </table>
