
<a routerLink="/libros-cargar" class="btn btn-primary"> Agregar libros</a>

<table class="table">
    <thead>
      <tr>
        <th scope="col">titulo</th>
        <th scope="col">año</th>
        <th scope="col">contenido</th>
        <th scope="col">editorial</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libros; let idControl = index">
        <td>{{libro.libTitulo}}</td>
        <td>{{libro.libAnio}}</td>
        <td>{{libro.autorID}}</td>
        <td>{{libro.editorialID}}</td>
        <td>
          <a
            class="btn btn-warning"
            routerLink="/libros-editar/{{ libro.idLibro }}"
          >editar<i class="fa-solid fa-pen"></i></a>
          <a
            class="btn btn-danger"
            (click)="borrarLibro(libro.idLibro, idControl)" 
            role="button"
          >eliminar</a>
        </td>
      </tr>
    </tbody>
    
  </table>
