<div class="container mt-4">
  <h2 class="text-success mb-4">Panel del Estudiante</h2>



<div class="container mt-4">
  <h2 class="text-primary mb-4">Panel de Estudiantes</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <div class="card-body text-center">
          <h5 class="card-title">Gestión de Prestamos</h5>
          <p class="card-text">Verifica o cancela tus Prestamos.</p>
          <button class="btn btn-outline-primary" routerLink="/prestamos">
            Ir a Prestamos
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <div class="card-body text-center">
          <h5 class="card-title">Consultar Libros</h5>
          <p class="card-text">Explorá los libros disponibles en la biblioteca.</p>
          <button class="btn btn-outline-primary" routerLink="/libros-listar">
            Ir a Libros
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm border-0">
        <div class="card-body text-center">
          <h5 class="card-title"> Mi Perfil</h5>
          <p class="card-text">Ver o actualizar tu información personal.</p>
          <button class="btn btn-outline-primary" routerLink="/perfil">
            Ir a Estudiantes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
