<div class="card">
    <div class="card-header">Agreagar Libros </div>
    <div class="card-body">
        
        <form  [formGroup]="formularioDeLibros"  (submit)="cargarLibros()">
            <div class="mb-3">
                <label class="form-label">Titulo</label>
                <input type="text"class="form-control" name="" formControlName="libTitulo" id="" placeholder="Escribe un titulo" />
            </div>
            <div class="mb-3"> 
                <label class="form-label">Año</label>
                <input type="text" class="form-control" formControlName="libAnio" placeholder="Ingrese el año">
            </div>
           
            <div class="mb-3">
              <label for="editorial" class="form-label">Editorial:</label>
              <select formControlName="EditorialID" class="form-control" id="editorial">
                <option *ngFor="let editorial of editoriales" [value]="editorial.idEditorial">{{ editorial.ediNombre }}</option>
              </select>
            </div>
            

          <div class="mb-3">
            <label for="autor" class="form-label">Autores:</label>
            <select formControlName="autorID" class="form-control" id="autorID">
              <option *ngFor="let autores of listadoautores" [value]="autores.idAutor">{{ autores.autNombre }}</option>
            </select>
          </div>

            
            <div class="mb-3">
              <label for="" class="form-label">Materia</label>
              <select formControlName="MateriaID" class="form-control" id="editorial">
                <option *ngFor="let materia of listadoMaterias" [value]="materia.idMateria">{{ materia.matNombre }}</option>
              </select>
            </div>
            <div class="mb-3"> 
                 <label for="" class="form-label">Contenido</label>
                <input  type="text" class="form-control" formControlName="libNotaDeContenido" placeholder="Escribe la Nota Contenido"/>
            </div>
            <div class="btn-group" role="group" aria-label="">
              <button type="submit" class="btn btn-success" [disabled]="//formularioDeLibros.valid != true" >Agregar</button>
              <button type="button" class="btn btn-primary" routerLink="/libros-listar">Cancelar</button>
            </div>
        </form>
    </div>
  </div>