.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
}
.app-title {
  flex-grow: 1;
  
}


.biblioteca-link {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2); 
  padding: 5px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.biblioteca-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.logo img {
  height: 30px;
  margin-right: 10px;
}