<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3 shadow-sm">
  <a class="navbar-brand d-flex align-items-center" href="#">
    <i class="bi bi-book-half me-2"></i>
    Biblioteca Virtual
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav align-items-center">

      <li class="nav-item me-3 text-white fw-semibold" routerLink="/perfil">
        👤 {{ usuario?.perNombre }} {{ usuario?.perApellido }} 
      </li>

      <li class="nav-item">
        <button class="btn btn-light btn-sm" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> Salir
        </button>
      </li>

    </ul>
  </div>
</nav>
